* {
    padding: 0;
    margin: 0;
}
.logo a{
    text-decoration: none;
    color: #24252a;
}
.logo-cbb {
    height: 20px;
    width: 250px;
}
.title {
    color: #f09102;
    margin: 30px;
}
#codigo {
    font-size: 18px;
    border: 1px solid black; 
}
#container-teste {
    display:flex;
}
#container-teste ul {
    list-style: none;
}
.hide {
    display: none;
}
.form-group-container-0 {
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.form-group-container-0 label {
    color: #f09102;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.form-group-container-1,
.form-group-container-2,
.form-group-container-3 {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px 1px 1px black;
    
}
.form-group-container-1 {
    background-color: #ECECEE; 
}

.form-group-container-3 {
    background-color: #ECECEE;
}

.form-group-container-1 span #texto43,
.form-group-container-1 span #texto10 {
    margin: 20px;
}
.form-group-container-2 span #texto45,
.form-group-container-2 span #texto13,
.form-group-container-2 span #texto8,
.form-group-container-2 span #texto12,
.form-group-container-2 span #texto11,
.form-group-container-2 span #texto9 {
    margin: 10px;
}
.form-group-container-1 .grupo,
.form-group-container-2 .grupo,
.form-group-container-3 .grupo {
    margin-top: 20px;
}

.form-group-container-3 span #texto1,
.form-group-container-3 span #texto2,
.form-group-container-3 span #texto3,
.form-group-container-3 span #texto16,
.form-group-container-3 span #texto17,
.form-group-container-3 span #texto44,
.form-group-container-3 span #texto6,
.form-group-container-3 span #texto7,
.form-group-container-3 span #texto18,
.form-group-container-3 span #texto5,
.form-group-container-3 span #texto20,
.form-group-container-3 span #texto4,
.form-group-container-3 span #texto19,
.form-group-container-3 span #texto14,
.form-group-container-3 span #texto33 {
    margin: 10px;
}

.container-logo {
    display: flex; /* Transforma em um container flexbox */
    justify-content: center; /* Centraliza os itens dentro do container */
    align-items: center; /* Alinha os itens verticalmente no centro */
}

.container-logo img {
    width: 100px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-left: 10px; /* Adiciona um espaço à esquerda da imagem */
    border-radius: 5px;
    margin: 15px;
}


input {
    width: 180px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.sair {
    background-color: rgb(219, 86, 86);
}


table {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

th {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f09102;
    font-size: 17px;
    padding: 1px;
    border: 1px solid black;
}

td {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid black;
    padding: 1px;
    text-align: center;
    font-size: 16px; 
}
span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: #f09102;
    font-weight: bold;
    margin: 1px;
    
}
p {
    color: black;
    border-radius: 2px;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    border: 1px solid black;
}



 #texto43 {
    padding: 5px;
    height: 25px;
    width: 640px;
    margin: 20px;
}
#texto10 {
    padding: 5px;
    margin: 0 auto;
    height: 20px;
    width: 150px;
}

/* 2° LINHA  */


#texto45,
#texto13,
#texto8 {
    padding: 5px;
    margin: 0 auto;
    height: 20px;
    width: 450px;
}
#texto12,
#texto11,
#texto9 {
    padding: 5px;
    margin: 0 auto;
    height: 20px;
    width: 430px;
}


/* 3° LINHA  */


/* N Sup, Vend 1, Vend 2  */
#texto1,
#texto2,
#texto3 {
    padding: 5px;
    margin: 0 auto;
    height: 20px;
    width: 50px;
}

/* Data Cadastro, Última Compra  */
#texto16,
#texto17 {
    padding: 5px;
    margin: 0 auto;
    height: 20px;
    width: 195px;
}


/* Bloqueio, Risco  */
#texto44,
#texto4 {
    padding: 5px;
    margin: 0 auto;
    height: 20px;
    width: 50px;
}


/* Tipo PGT, Prazo, Acordo*/
#texto6,
#texto18,
#texto7 {
    padding: 5px;
    margin: 0 auto;
    height: 20px;
    width: 110px;
}
/* Limite, Exposição */
#texto5,
#texto20 {
    padding: 5px;
    margin: 0 auto;
    height: 20px;
    width: 190px;
}

/* Inad atual, Inad Grupo, Protesto */ 
#texto14,
#texto19,
#texto33 {
    padding: 5px;
    margin: 0 auto;
    height: 20px;
    width: 225px;
}

