
/*CAROSEL */
.fundo03,
.fundo03-B {
    margin-top: 0px;
    height: 400px;
    width: 100vw;
    background-color: #fff;
    display: flex;
    justify-content: center;  
}
.wrapper,
.wrapper-B {
    max-width: 1000px;
    width: 100%;
    position: relative;
  }
  .wrapper i,
  .wrapper-B i {
    top: 55%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    font-size: 2.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active,
  .wrapper-B i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child,
  .wrapper-B i:first-child{
    left: -50px;
  }
  .wrapper i:last-child,
  .wrapper-B i:last-child{
    right: -60px;
  }
  .wrapper .carousel,
  .wrapper-B .carousel-B{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 6) - 10px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar,
  .carousel-B::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition,
  .carousel-B.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging
  .carousel-B.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card,
  .carousel-B.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img),
  .carousel-B :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card,
  .carousel-B .card {
    scroll-snap-align: start;
    height: 430px;
    list-style: none;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img,
  .carousel .card .img2,
  .carousel-B .card .img,
  .carousel-B .card .img2 {
    cursor: pointer;
    background: #fff;
    height: 105px;
    width: 105px;
    border-radius: 50%;
  }
  .card .img img,
  .card .img2 img {
    cursor: pointer;
    width: 105px;
    height: 105px;
    border-radius: 5px;
  }
  
/* FIM - CAROSEL */