/* RESPONSIVE DESIGN */


/* I-FONE - CELULAR DEITADO */

/* MEU - CELULAR DEITADO */
@media(max-width: 1000px) {

.menu {
    display: flex;
    list-style: none;
    gap: .1rem;
}
.menu li {
    display: block;
    padding: .0rem;
}
.menu span {
  font-size: 13.5px;
}
.logo-cbb {
  height: 15px;
  width: 150px;
}
.container00 {
  display: none;
}
.logo-big {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}
.logo-big img {
  height: 150px;
  border-radius: 150px;
}
.frase h3 {
  font-size: 14.5px;
  padding: 20px;
}
.fundo-video {  
  z-index: -1; /*imagem por tras */
  width: 100vw;
  height: 300px;
  overflow: hidden; /* escoder a rolagem */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1-mobile {
  height: 350px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  isolation: isolate;
}
.risca {
  display: none;
}
.container2-mobile {
  height: 350px;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: left;
  position: relative;
  isolation: isolate; 
}
.container1-mobile::after,
.container2-mobile::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: #303030;
  opacity: 0.7;
}
.container1-mobile .text-mobile {
  color: #fff;
  width: 700px;
  margin-left: 0px;
}
.container2-mobile .text-mobile {
  color: #fff;
  width: 330px;
  margin-right: 0px;
}
.container2-mobile h2 {
  font-size: 30px;
}
.text-mobile p {
  line-height: 25px;
  font-size: 17px;
}
.container03 {
  margin-top: 0px;
  display: flex;
  text-align: center;
  align-items: center;
  height: 300px;
  background-color: #ECECEE;
}
.container03 .text-mobile {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  font-size: 17.5px;
  width: 100vw;
  background-color: #ECECEE;
  font-weight: 600;
}
.container03 .text-mobile p {
  line-height: 30px;
  font-size: 14.5px;
  color: #808080;
}
.container03 .text-mobile h3 {
  font-size: 20px;
  color: #4E9AB4;
}
.container03 .text-mobile .box {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0px;
}
.container03 .text-mobile span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ECECEE;
  border: 1px solid #f09102;
  height: 150px;
  width: 150px;
  border-radius: 150px;
  margin-right: 0px;
}
.container03 .text-mobile a {
  color: #f09102;
  text-decoration: none;
}
.risca {
  border-radius: 50px;
  height: 0px;
  width: 130px;
}

.fundo03,
.fundo03-B {
  height: 250px;
  width: 100vw;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
/*CAROSEL */
.wrapper,
.wrapper-B {
  max-width: 515px;
  width: 100%;
  position: relative;
}
.wrapper i,
.wrapper-B i  {
  top: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active,
.wrapper-B i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child,
.wrapper-B i:first-child{
  left: -50px;
}
.wrapper i:last-child,
.wrapper-B i:last-child{
  right: -50px;
}
.wrapper .carousel,
.wrapper-B .carousel-B{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5) - 20px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 26px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar,
.carousel-B::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition,
.carousel-B.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging,
.carousel-B.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card,
.carousel-B.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img),
.carousel-B :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card,
.carousel-B .card {
  scroll-snap-align: start;
  height: 255px;
  list-style: none;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img,
.carousel-B .card .img {
  cursor: pointer;
  background: #fff;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.card .img img {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 25px;
  object-fit: cover;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.10rem;
  margin: 10px 0 5px;
  color: #fff;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}
.roda_pe {
  margin-top: 0px;
  height: 700px;
  width: 100vw;
  display: block;
  justify-content: center;
  text-align: center;
}
.roda_pe .contatos  {
  padding:  30px;
}
.roda_pe h3 {
  font-size: 18px;
  color: goldenrod;
}
.siga_nos {
  font-size: 18px;
  color: goldenrod;
}
.roda_pe .contatos {
  margin-left: 0px;
}
.roda_pe .contatos li {
  list-style: none;
  margin-top:10px;
  margin-left: 10px;
}
.redes_sociais a li {
  position: relative;
  left: 320px;
  list-style: none;
  margin-top: 10px;
}

.sobre_nos  {
  display: none;
}
.roda_pe .sobre_nos-mobile {
  margin-top: 30px;
}
.sobre_nos-mobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.sobre_nos-mobile p {
  font-weight: 400;
  margin-top: 10px;
  margin: 10px;
  padding: 1px;
}
.whats img {
  padding: 10px;
  height: 40px;
  width: 40px;
}
}


/* CELULAR RETO--------------------------------------------------------------------------------------------- */
@media (max-width: 730px) {
  
#btn-mobile {
  display: flex;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap:  .5rem;
}
#hamburguer {
  display: block;
  border-top: 3px solid;
  width: 20px;
}
#hamburguer::after, #hamburguer::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: currentColor;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}
.nav.active #hamburguer {
  border-top-color: transparent;
}
.nav.active #hamburguer::before {
  transform: rotate(135deg);
}
.nav.active #hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}
.menu {
  display: block;
  position: absolute;
  background-color: #ECECEE;
  box-shadow: 0px 3px 10px #464646;
  width: 100%;
  top: 100px;
  right: 0px;
  height: 0px;
  transition: .2s;
  visibility: hidden;
  overflow-y: hidden;
  z-index: 1; /*imagem por tras */
}
.nav.active .menu {
  height: 390px; /* ---------!!!!!!! */
  visibility: visible;
  overflow-y: auto;
}
.menu li {
  padding: 1rem 0;
  margin: 0 1rem;
  text-align: center;
}
.menu span {
  font-size: 19px;
}
.logo-cbb {
  height: 15px;
  width: 215px;
}
.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #303030;
  font-weight: 400;

  position: relative;
  transition: all 0.4s;
}
.menu .fale_conosco {
  color: #4BC9F3;
  border: 1px solid #4BC9F3;
  border-radius: 100px;
  font-weight: 0;
  padding: 10px;
}
.nav-link:hover {
    color: #fff;
}
.nav-link::after {
    bottom: 0px;
}
.nav-item:hover {
    background-color: #4BC9F3;
}
.nav-item-fale:hover {
  scale: 1.1;
  transition: 1s;
}
.nav-bar {
    padding: 1.5rem 4rem;
}
.mobile-menu-icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
}
.mobile-menu ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
}
.mobile-menu .nav-item {
  display: block;
  padding-top: 1.2rem;
}
.open {
    display: block;
}
.container00 {
  display: none;
}

.logo-big {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.logo-big img {
  height: 160px;
  border-radius: 150px;
}
.frase h3 {
  font-size: 13.3px;
  padding: 20px;
  color: #4E9AB4;
}
.container-espaco {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-espaco .risca {
  width: 300px;
}
.fundo-video {  
  z-index: 0; /*imagem por tras */
  height: 300px;
  overflow: hidden; /* escoder a rolagem */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
.fundo-video .video{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.container1-mobile  {
  height: 280px;
  width: 100vw;
  margin-top: 0px;
  background-image: url('imagens/img-mobile01.jpg'); 
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2-mobile {
  height: 276px;
  width: 100vw;
  margin-top: 0px;
  background-image: url('imagens/img-container02.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
}
.container1-mobile .text-mobile,
.container2-mobile .text-mobile {
  color: #ffff;
  text-align: center;
  width: 350px;
  margin-left: 0;
  margin-right: 0;
}

.container1-mobile .text-mobile .risca,
.container2-mobile .text-mobile .risca {
  display: none;
}
.container1-mobile h1 {
  font-size: 30px;
  color: #4BC9F3;
}
.container2-mobile .text-mobile p,
.container2-mobile .text-mobile h2 {
    margin-right: 0px;
}
.container1-mobile .text-mobile h2,
.container2-mobile .text-mobile h2 {
  color: #4BC9F3;
  font-size: 30px;
}
.text-mobile h1,
.text-mobile h2 {
  line-height: 40px;
}
.container1-mobile .text-mobile p,
.container2-mobile .text-mobile p {
  line-height: 25px;
  font-size: 17px;
}
.container03 {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 400px;
  background-color: #ECECEE;
}
.container03 .text-mobile {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  height: 400px;
  font-size: 20px;
  width: 100vw;
  color: #24252a;
  box-shadow: none;
  background-color: #ECECEE;
}
.risca {
  border: 1px solid #4BC9F3;
  height: 0px;
  width: 300px;
}
.container03 .text-mobile h2 {
  font-size: 30px;
}
.container03 .text-mobile .box  {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 0px;
  list-style: none;
}
.container03 .text-mobile p {
  color: #808080;
  margin: 5px;
  font-size: 17px;
}
.container03 .text-mobile span {
  font-size: 15.5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ECECEE;
  border: 2px solid #f09102;
  height: 130px;
  width: 130px;
  border-radius: 150px;
}
.container03 .text-mobile a {
  font-size: 15.5px;
  color: #f09102;
  text-decoration: none;
}
.fundo03,
.fundo03-B {
  height: 200px;
  width: 100vw;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
.roda_pe {
  height: 780px;
  width: 100vw;
  margin-top: 0;
  display: block;
  justify-content: center;
  text-align: center;
}
.roda_pe .contatos  {
  padding:  30px;
}
.roda_pe h3 {
  font-size: 20px;
  color: goldenrod;
}
.siga_nos {
    color: goldenrod;
}
.roda_pe .contatos {
  margin-left: 0px;
}
.roda_pe .contatos li {
  list-style: none;
  margin-top:10px;
  margin-left: 10px;
}
.redes_sociais a li {
  position: relative;
  left: 140px;
  list-style: none;
  margin-top: 10px;
}
.sobre_nos  {
  display: none;
}
.roda_pe .sobre_nos-mobile {
  margin-top: 30px;
}
.sobre_nos-mobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.sobre_nos-mobile p {
  margin-top: 10px;
}
.whats {
  background-color:rgb(0, 231, 119) ;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 9999;
  border-radius: 100px;
}
.whats img {
  padding: 10px;
  height: 40px;
  width: 40px;
}
}